services:
  - type: web
    name: bus-benin-web
    runtime: static
    plan: free
    buildCommand: npm ci && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
